.ShareButton {
	letter-spacing: 3px;
	background-size: contain;
	background: url('https://res.cloudinary.com/abisola/image/upload/v1647437696/Vector_3_su71xg.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	display: block;
	text-align: center;
}
